/* Global */

ul {
    list-style-type: none;
    display: flex;
    padding: 0px;
    gap: 16px;

}

a {
    text-decoration: none;
}


h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

p{
    font-size: 18px;
    color: #E5E7EB;
}

header{
    background-color: #1F2937;
}

/* Navigation Bar */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
    
}

.left{
    display: flex;
}

.right{
    display: flex;
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
    flex-shrink: 0;

}

.links{
    color: #E5E7EB;
    font-size: 18px;
    column-gap: 25px;
    flex-shrink: 0;

}


/* Section 1 */

.bodys1{
    display:flex;
    width: 100%;
}

.body.left{
    position: absolute;
    left: 150px;
    width: 50%;
}

.body.right{
    position: absolute;
    right: 150px;
    width: 50%;
}


/* Section 2 */

/* Section 3 */

/* Section 4 */

/* Footer */

.footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    color: #E5E7EB;
    font-size: 16px;
    padding: 10px;
    align-items: flex-end;

}

